networks:
  backend:
    external: false

services:
  frontend:
    build:
      context: ./frontend/
    restart: unless-stopped
    environment:
      - SOCKET_URL=backend:9000
    depends_on:
      backend:
        condition: service_started
    ports:
      - 3000:3000

  backend:
    restart: unless-stopped
    build:
      context: ./backend/
      target: final
    environment:
      RUST_LOG: info
    networks:
      - backend
    ports:
      - 9000:9000
